.about 
  .about__container
    .about__title.title О компании
    .about__wrapper
      .about__img 
        img(data-src="@img/about.jpg" alt="warehouse")
      .about__desc 
        p Мы имеем большой опыт работы в сфере розничной торговли. Это позволило нам более точно и детально изучить рынок разливной парфюмерии, понять потребности наших клиентов, выявить востребованные ароматы целевой аудитории, а также установить доступные цены для партнеров.
        p Наши знания и опыт поспособствовали перерасти в оптовую компанию и эффективно сотрудничать с крупными сетевыми магазинами, с розничными точками продаж, производствами разных косметических средств, продавцами ярмарок и интернет магазинами.
        .about__btn(data-popup="#popup_supervisor") Написать руководителю
      .about__sakura 
        img(data-src="@img/icons/sakura_1.svg" alt="sakura" data-prlx-mouse data-prlx-a=300 data-prlx-cx=30 data-prlx-cy=30)