section.about
  .about__container
    h2.about__title.title О компании
    .about__wrapper
      .about__img 
        img(data-src="@img/about.jpg" alt="warehouse")
      .about__desc 
        p Mira Perfume - оптово-розничная компания по реализации парфюмерных масел. Мы предлагаем Вам только проверенную и сертифицированную продукцию от лидеров рынка: LUZI fragrance, Givaudan, Argeville, Iberchem, SELUZ, EPS Fragrance. Мы с уверенностью можем сказать, что знаем все о парфюмерных маслах, дорожим своей репутацией, держим качество на высочайшем уровне, поддерживаем наших партнеров во всех вопросах, делимся опытом и знаниями, а в ответ получаем Ваше доверие, которым дорожим! 
        p Команда лучших менеджеров всегда проконсультируют вас и ответят на любой вопрос в кратчайшие сроки. Mira Perfume — это доступные цены, широкий ассортимент и индивидуальный подход к каждому клиенту.
        .about__btn(data-popup="#popup_supervisor") Написать руководителю
      .about__sakura 
        img(data-src="@img/icons/sakura_1.svg" alt="sakura" data-prlx-mouse data-prlx-a=300 data-prlx-cx=30 data-prlx-cy=30)