.call 
  .call__container 
    .call__wrapper 
      .call__info 
        .call__desc 
          p Оставьте заявку сейчас и получите
          p полный прайс с учётом индивидуального предложения
        .call__btn.btn(data-popup="#popup_get_price") Получить прайс
      .call__img.-ibg 
        img(data-src="@img/call.png", alt="call manager")


