.certificate
  .certificate__container 
    .certificate__title.title Сертификаты и декларации
    .certificate__desc Вся продукция компании "Мира Парфюм" проходит обязательную сертификацию и соответствует самым высоким стандартам качества, что подтверждено декларациями соответствия
    .certificate__wrapper(data-gallery)
      .certificate-zoom-container
      .certificate__item.-ibg(data-src="@img/certificate_1.jpg") 
        img(src="@img/certificate_1.jpg" alt="certificate" certificate-zoom)
      .certificate__item.-ibg(data-src="@img/certificate_2.jpg")  
        img(src="@img/certificate_2.jpg" alt="certificate" certificate-zoom)
      .certificate__item.-ibg(data-src="@img/certificate_3.jpg")  
        img(src="@img/certificate_3.jpg" alt="certificate" certificate-zoom)
      .certificate__item.-ibg(data-src="@img/certificate_4.jpg")  
        img(src="@img/certificate_4.jpg" alt="certificate" certificate-zoom)
      .certificate__sakura 
        img(src="@img/icons/sakura_3.svg" alt="sakura" data-prlx-mouse data-prlx-a=300 data-prlx-cx=30 data-prlx-cy=30)