header.header
  .header__container
    .header__wrapper
      a.header__logo.-ibg(href='#')
        img(src='@img/logo.png' alt='logo')
      .header__social.social-header 
        .social-header__icons(data-da=".promo__wrapper, 612, 3") 
          img(src="@img/icons/whatsapp.svg" alt="whatsapp icon")
          img(src="@img/icons/vk.svg" alt="vk icon")
        .social-header__contacts.contacts-header 
          a.contacts-header__phone(href="tel:+79603462828") 8 (960) 346 28 88
          .contacts-header__text обратный звонок