section.product
  .product__container 
    h2.product__title.title Продукция
    .product__wrapper 

      .product__item.item-product
        .item-product__img 
          img(data-src="@img/product_1.jpg" alt="perfume")
          .item-product__desc.desc-item-product(id="item-desc-1")
            h3.desc-item-product__title Парфюмерные масла
              .desc-item-product__desc(id="item-1") •	LUZI fragrance <br> •	Givaudan <br> •	Argeville <br> • Iberchem <br> •	SELUZ <br> • EPS Fragrance 


      .product__item.item-product
        .item-product__img 
          img(data-src="@img/product_2.jpg" alt="perfume")
          .item-product__desc.desc-item-product(id="item-desc-2") 
            h3.desc-item-product__title Флаконы для парфюмерии
              .desc-item-product__desc(id="item-2") •	Графины для масел <br>•	Роллеры ( шариковые ) <br>•	Атомайзеры ( спрей ) <br>•	Декоративные флаконы <br>•	Дорожные флаконы <br>•	Аромадиффузоры <br>•	Автофлаконы


      .product__item.item-product
        .item-product__img 
          img(data-src="@img/product_3.jpg" alt="perfume")
          .item-product__desc.desc-item-product(id="item-desc-3") 
            h3.desc-item-product__title Аксессуары и упаковка
              .desc-item-product__desc(id="item-3") •	Принтеры для этикеток <br>•	Картриджи <br>•	Шприцы <br>•	Иглы <br>•	Блоттеры <br>•	Подарочные коробки
