.product 
  .product__container 
    .product__title.title Продукция
    .product__wrapper 

      .product__item.item-product
        .item-product__img 
          img(src="@img/product_1.jpg" alt="perfume")
          .item-product__desc.desc-item-product 
            .desc-item-product__title Парфюмерные масла
              .desc-item-product__desc Отправка товара в день заказа по всей России и СНГ. Мы являемся единственным звеном между вами и заводом-производителем, за посредничество переплачивать не придется.

      .product__item.item-product
        .item-product__img 
          img(src="@img/product_2.jpg" alt="perfume")
          .item-product__desc.desc-item-product 
            .desc-item-product__title Флаконы для парфюмерии
              .desc-item-product__desc Отправка товара в день заказа по всей России и СНГ. Мы являемся единственным звеном между вами и заводом-производителем, за посредничество переплачивать не придется.

      .product__item.item-product
        .item-product__img 
          img(src="@img/product_3.jpg" alt="perfume")
          .item-product__desc.desc-item-product 
            .desc-item-product__title Аксессуары и упаковка
              .desc-item-product__desc Отправка товара в день заказа по всей России и СНГ. Мы являемся единственным звеном между вами и заводом-производителем, за посредничество переплачивать не придется.