.product-slider
  .product-slider__container
    .zoom-container
    .slider-product-container
      .product-slider__slider.swiper
        .product-slider__wrapper.swiper-wrapper
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_1.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_2.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_3.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_4.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_5.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_6.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_7.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_9.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_10.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_11.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_12.jpg" alt="", data-zoom)
          .product-slider__slide.swiper-slide
            .product-slider__img 
              img(data-src="@img/product_slide_13.jpg" alt="", data-zoom)
    .slider__navigation 
      .slide_left
        img(data-src="@img/icons/slide_left.svg" alt="arrow left")
      .slide_points
      .slide_right 
        img(data-src="@img/icons/slide_right.svg" alt="arrow right")
