.promo__container
  .promo__wrapper 
    .promo__content
      h1.promo__title ПАРФЮМЕРНЫЕ МАСЛА ОПТОМ
      .promo__desc Официальный представитель производителей Luzi, Givaudan, Argeville и Seluz в России
      .promo__btn.btn(data-popup="#popup_get_price") Получить прайс
video.full-screen__video(preload="auto" autoplay muted loop) 
  source(src="@img/video/bacground.MOV")