.reviews 
  .reviews__container 
    .reviews-zoom-container
    .reviews__head 
      .reviews__title Отзывы наших клиентов
      .reviews__slide-navigation(data-da=".reviews__container, 590, last") 
        .reviews__slide-left
          img(src="@img/icons/slide_left.svg", alt="arrow left")
        .reviews__slide-points 
        .reviews__slide-right
          img(src="@img/icons/slide_right.svg", alt="arrow right")
    .review-slider-container 
      .reviews__slider.swiper
        .reviews__wrapper.swiper-wrapper
          .reviews__slide.swiper-slide
            .reviews-slider-wrapper 
              img.reviews__iphone(src="@img/review_slide_1.png" alt="phone" reviews-zoom)
          .reviews__slide.swiper-slide
            .reviews-slider-wrapper 
              img.reviews__iphone(src="@img/review_slide_2.png" alt="phone" reviews-zoom)
          .reviews__slide.swiper-slide
            .reviews-slider-wrapper 
              img.reviews__iphone(src="@img/review_slide_3.png" alt="phone" reviews-zoom)
          .reviews__slide.swiper-slide
            .reviews-slider-wrapper 
              img.reviews__iphone(src="@img/review_slide_4.png" alt="phone" reviews-zoom)
          .reviews__slide.swiper-slide
            .reviews-slider-wrapper 
              img.reviews__iphone(src="@img/review_slide_1.png" alt="phone" reviews-zoom)
          .reviews__slide.swiper-slide
            .reviews-slider-wrapper 
              img.reviews__iphone(src="@img/review_slide_2.png" alt="phone" reviews-zoom)
          .reviews__slide.swiper-slide
            .reviews-slider-wrapper 
              img.reviews__iphone(src="@img/review_slide_3.png" alt="phone" reviews-zoom)
          .reviews__slide.swiper-slide
            .reviews-slider-wrapper 
              img.reviews__iphone(src="@img/review_slide_4.png" alt="phone" reviews-zoom)
