.scheme
  .scheme__container 
    .scheme__title.title Схема работы
    .scheme__wrapper 

      .scheme__item.item-scheme 
        .item-scheme__img.scheme-img_1.-ibg
          img(src="@img/scheme_1.png" alt="notebook")
        .item-scheme__desc.desc-scheme 
          .desc-scheme__title Заявка на сайте
          .desc-scheme__desc
            p Оставляете заявку на нашем сайте.
            p Вся информация конфиденциальна и закрыта.
          .desc-scheme__btn Оставить заявку

      .scheme__item.item-scheme 
        .item-scheme__desc.desc-scheme 
          .desc-scheme__title Звонок
          .desc-scheme__desc 
            p Менеджер ответит на все Ваши вопросы и поможет оформить заказ
        .item-scheme__img.scheme-img_2.-ibg
          img(src="@img/scheme_2.png" alt="manager")
        .item-scheme__sakura
          img(src="@img/icons/sakura_2.svg" alt="sakura", data-prlx-mouse, data-prlx-a=100)

      .scheme__item.item-scheme 
        .item-scheme__img.scheme-img_3.-ibg
          img(src="@img/scheme_3.png" alt="box")
        .item-scheme__desc.desc-scheme 
          .desc-scheme__title Сбор заказа
          .desc-scheme__desc
            p Формирование заказа в день заявки

      .scheme__item.item-scheme 
        .item-scheme__desc.desc-scheme 
          .desc-scheme__title Отправка
          .desc-scheme__desc
            p Отправка товара в день заказа по всей России и СНГ.
        .item-scheme__img.scheme-img_4.-ibg
          img(src="@img/scheme_4.png" alt="car")
