.why 
  .why__container 
    .why__title.title Почему выбирают нас
    .why__wrapper 
      .why__item.item-why 
        .item-why__logo.-ibg 
          img(src="@img/icons/why_icon_1.svg" alt="")
        .item-why__wrapper 
          .item-why__title Выгодные оптовые цены
          .item-why__desc Мы являемся единственным звеном между вами и заводом-производителем, за посредничество переплачивать не придется.
      .why__item.item-why 
        .item-why__logo.-ibg 
          img(src="@img/icons/why_icon_2.svg" alt="")
        .item-why__wrapper 
          .item-why__title Быстрые поставки
          .item-why__desc Четко налаженные каналы доставки товара позволяет нам демонстрировать чудеса скорости при перевозке нашей продукции.
      .why__item.item-why 
        .item-why__logo.-ibg 
          img(src="@img/icons/why_icon_3.svg" alt="")
        .item-why__wrapper 
          .item-why__title Гарантия качества
          .item-why__desc Сотрудничество с фабриками подтверждено официальными договорами. Сертификаты качества выдаются каждому клиенту от нашей компании.
      .why__item.item-why 
        .item-why__logo.-ibg 
          img(src="@img/icons/why_icon_4.svg" alt="")
        .item-why__wrapper 
          .item-why__title Большой ассортимент
          .item-why__desc Огромный выбор мотивов известных брендов, а также предложим аксессуары для ведения бизнеса: графины, флаконы, стикеры, печатные устройства и т.д.
