.call {
  @include adaptiveValue("padding-top", 162, 80);
  padding-bottom: rem(80);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(46);
    @media (max-width: rem(750)){
      flex-direction: column-reverse;
      row-gap: rem(12);
    }
  }
  &__desc {
    max-width: rem(515);
    font-weight: 600;
    @include adaptiveValue("font-size", 18, 16);
    line-height: math.div(24, 18);
    @media (max-width: rem(750)){
      text-align: center;
    }
  }
  &__btn {
    margin-top: rem(24);
    @media (max-width: rem(750)){
      display: flex;
      margin: rem(24) auto 0px auto;
    }
  }
  &__img {
    width: rem(330);
    height: rem(336);
  }
}
