.certificate {
  @include adaptiveValue("padding-top", 120, 80);
  @include adaptiveValue("padding-bottom", 120, 80);
  &__desc {
    max-width: rem(860);
    margin: rem(24) auto 0px auto;
    text-align: center;
    line-height: math.div(22, 16);
  }
  &__wrapper {
    position: relative;
    margin-top: rem(24);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(30);
    @media (max-width: rem(1280)){
      flex-wrap: wrap;
      row-gap: rem(24);
    }
  }
  &__item {
    cursor: pointer;
    @include adaptiveValue("width", 284, 128);
    @include adaptiveValue("height", 400, 180);
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.14));
    transition: all 0.5s ease 0s;
    &:hover{
      transform: scale(1.6);
      z-index: 5;
    }
  }
  .certificate-zoom-container {
    @include adaptiveValue("width", 407, 128);
    @include adaptiveValue("height", 564, 180);
  }
  .certificate__sakura {
    position: absolute;
    bottom: rem(64);
    right: rem(-94);
    transform: translate(0, 100%);
    @media (max-width: rem(900)) {
      display: none;
    }
  }
}
