.promo {
  position: relative;
  height: 100vh;
  padding-bottom: rem(242);
  @include adaptiveValue("padding-bottom", 242, 40);
  &__wrapper {
    margin-top: rem(106);
    @include adaptiveValue("margin-left", 110, 0, 1024, 700, 1);
  }
  &__title {
    max-width: rem(535);
    font-weight: 700;
    @include adaptiveValue("font-size", 64, 38);
    line-height: math.div(74 , 64);
    color: $whiteColor;
    @media (max-width: 700px){
      max-width: unset;
      text-align: center;
    }
  }
  &__desc {
    max-width: rem(600);
    margin-top: rem(24);
    @include adaptiveValue("font-size", 24, 16);
    line-height: math.div(34 , 24);
    color: $whiteColor;
    @media (max-width: 700px){
      text-align: center;
    }
  }
  &__btn {
    margin-top: rem(24);
    @media (max-width: 700px){
      display: flex;
      margin: rem(24) auto 0px auto;
    }
  }
}