.reviews {
  &__container {
    max-width: 1734px;
  }
  position: relative;
  background: linear-gradient(99.3deg, #6960e1 -1.83%, #cc72c8 102.82%);
  padding: rem(60) 0;
  @media (max-width: rem(590)) {
    background: #fff;
    padding: 0px 0px;
  }
  &__head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: rem(590)) {
      justify-content: center;
    }
  }
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 24, 22);
    line-height: math.div(34, 24);
    text-transform: uppercase;
    color: $whiteColor;
    @media (max-width: rem(590)) {
      color: $mainColor;
    }
  }
  &__slide-navigation {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    column-gap: rem(24);
    @media (max-width: rem(900)) {
      position: static;
    }
  }
  &__slider {
    overflow: visible !important;
  }
  &__slide {
    display: flex;
    justify-content: center;
  }
  &__iphone {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__review {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .reviews-slider-wrapper {
    position: relative;
    width: rem(193);
    height: rem(400);
    transition: all 0.3s ease 0s;
    &:hover{
      transform: scale(1.7) translate(0, -16%);
    }
  }
  .review-slider-container {
    margin: rem(40) auto 0px auto;
  }
  .reviews__slide-left,
  .reviews__slide-right {
    cursor: pointer;
    @media (max-width: rem(590)) {
      justify-content: center;
    }
  }
  .reviews__slide-points {
    display: flex;
    align-items: center;
    column-gap: rem(8);
    .swiper-pagination-bullet {
      cursor: pointer;
      width: rem(8);
      height: rem(8);
      border-radius: 50%;
      background-color: $blueColor;
      opacity: 0.2;
      transition: all 0.5s ease 0s;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

.reviews-zoom-container {
  width: rem(317);
  height: rem(574);
  @media (max-width: rem(590)) {
    width: rem(293);
    height: rem(546);
  }
}

.reviews__slide-navigation {
  @media (max-width: rem(900)) {
    margin: rem(24) auto 0px auto;
    justify-content: center;
  }
}
