.scheme {
  @include adaptiveValue("padding-top", 100, 80);
  &__wrapper {
    margin-top: rem(40);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue("row-gap", 60, 24);
    @media (max-width: rem(900)) {
      margin-top: rem(68);
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(76);
    @media (max-width: rem(900)) {
      flex-direction: column;
      align-items: center;
      row-gap: rem(12);
    }
    &:nth-child(1) {
      @media (max-width: 900px) {
        // flex-direction: column-reverse;
        // padding-top: 12px;
      }
    }
    &:nth-child(2) {
      @media (max-width: rem(900)) {
        flex-direction: column-reverse;
      }
    }
    &:nth-child(4) {
      @media (max-width: rem(900)) {
        flex-direction: column-reverse;
      }
    }
  }
}
.item-scheme {
  .scheme-img_1 {
    position: relative;
    width: rem(340);
    height: rem(200);
    @media (max-width: rem(1300)) {
      @include adaptiveValue("width", 340, 284);
      @include adaptiveValue("height", 200, 167);
    }
    z-index: 2;
    &::after {
      content: "01";
      position: absolute;
      top: -38%;
      left: -3%;
      font-weight: 800;
      font-size: rem(118);
      line-height: math.div(136, 118);
      background: linear-gradient(131.16deg, #cc72c8 0%, rgba(105, 96, 225, 0.1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      z-index: -1;
      @media (max-width: rem(900)) {
        top: -45%;
        left: -3%;
      }
    }
  }
  .scheme-img_2 {
    position: relative;
    @include adaptiveValue("width", 432, 341);
    @include adaptiveValue("height", 280, 226);
    z-index: 2;
    &::after {
      content: "02";
      position: absolute;
      top: 7%;
      left: 24%;
      font-weight: 800;
      font-size: rem(118);
      line-height: math.div(136, 118);
      background: linear-gradient(131.16deg, #cc72c8 0%, rgba(105, 96, 225, 0.1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      z-index: -1;
      @media (max-width: rem(900)) {
        top: 5px;
        @include adaptiveValue("left", 89, 71, 900, 768, 1);
      }
      @media (max-width: 768px) {
        @include adaptiveValue("left", 71, 50, 768, 425, 1);
      }
    }
  }
  .scheme-img_3 {
    position: relative;
    @include adaptiveValue("width", 560, 351);
    @include adaptiveValue("height", 373, 234);
    z-index: 2;
    &::after {
      content: "03";
      position: absolute;
      @include adaptiveValue("top", 62, 40, 1440, 1024, 1);
      @include adaptiveValue("right", 79, 56, 1440, 1024, 1);
      font-weight: 800;
      font-size: rem(118);
      line-height: math.div(136, 118);
      background: linear-gradient(131.16deg, rgba(105, 96, 225, 0.1) 0%, #cc72c8 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      z-index: -1;
      @media (max-width: rem(900)) {
        @include adaptiveValue("top", 38, 31, 900, 768, 1);
        @include adaptiveValue("right", 39, 28, 900, 768, 1);
      }
      @media (max-width: rem(768)) {
        @include adaptiveValue("top", 31, 1, 768, 375, 1);
        @include adaptiveValue("right", 28, 1, 768, 375, 1);
      }
    }
  }
  .scheme-img_4 {
    position: relative;
    @include adaptiveValue("width", 370, 309);
    @include adaptiveValue("height", 208, 173);
    z-index: 2;
    &::after {
      content: "04";
      position: absolute;
      top: rem(3);
      left: rem(-25);
      font-weight: 800;
      font-size: rem(118);
      line-height: math.div(136, 118);
      background: linear-gradient(131.16deg, #cc72c8 0%, rgba(105, 96, 225, 0.1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      z-index: -1;
      @media (max-width: rem(1300)) {
        @include adaptiveValue("left", -25, -21, 1300, 900, 1);
      }
      @media (max-width: rem(900)) {
        top: rem(-41);
      }
    }
    @media (max-width: rem(900)) {
      margin-top: rem(41);
    }
  }
  .desc-scheme {
    &__title {
      font-weight: 600;
      @include adaptiveValue("font-size", 18, 16);
      line-height: math.div(24, 18);
      z-index: 2;
      @media (max-width: rem(900)) {
        text-align: center;
      }
    }
    &__desc {
      max-width: rem(420);
      margin-top: rem(12);
      @include adaptiveValue("font-size", 16, 14);
      line-height: math.div(22, 16);
      p {
        z-index: 2;
      }
      @media (max-width: rem(900)) {
        text-align: center;
      }
    }
    &__btn {
      cursor: pointer;
      display: inline-block;
      margin-top: rem(16);
      line-height: math.div(22, 16);
      color: $themeColor;
      border-bottom: rem(1) solid $themeColor;
      z-index: 2;
      @media (max-width: rem(900)) {
        width: rem(128);
        display: flex;
        margin: rem(16) auto 0px auto;
        border-bottom: unset;
      }
    }
  }
  &__sakura {
    position: absolute;
    top: rem(134);
    right: rem(235);
    z-index: 2;
    @media (max-width: rem(900)) {
      display: none;
    }
  }
}
