doctype html
html(lang="ru")
  include html/head
  body
    .wrapper
      .promo
        include html/header
        include html/promo
      main.page
        include html/about
        include html/scheme
        include html/product
        include html/product_slider
        include html/certificate
        include html/why
        include html/call
        include html/reviews
    include html/footer
    include html/popup
    include html/js