.footer {
  padding-top: rem(60);
  @media (max-width: rem(768)) {
    padding-top: rem(80);
  }
  &__wrapper {
    position: relative;
    display: flex;
    column-gap: rem(50);
    @media (max-width: rem(768)) {
      flex-direction: column-reverse;
      row-gap: rem(40);
      align-items: center;
    }
  }
  &__sakura {
    position: absolute;
    bottom: rem(-69);
    @include adaptiveValue("right", -252, -2, 1920, 1440, 1);
    z-index: -1;
    @media (max-width: rem(1300)) {
      @include adaptiveValue("right", -2, 6, 1800, 1400, 1);
    }
    @media (max-width: rem(1250)) {
      display: none;
    }
  }
  &__map {
    @include adaptiveValue("width", 853, 640, 1920, 1300, 1);
    @include adaptiveValue("height", 533, 400, 1920, 1300, 1);
    @media (max-width: rem(768)) {
      width: rem(375);
      height: rem(234);
    }
  }
  &__policy {
    margin-top: rem(40);
    padding: rem(7) 0;
    background: #f5f5f5;
  }
  .info-footer {
    &__title {
      font-weight: 600;
      @include adaptiveValue("font-size", 24, 16);
      line-height: math.div(24, 18);
      @media (max-width: rem(768)) {
        text-align: center;
      }
    }
    &__city {
      margin-top: rem(12);
      line-height: math.div(22, 16);
      @include adaptiveValue("font-size", 21, 14);
      @media (max-width: rem(768)) {
        text-align: center;
      }
    }
    &__address {
      margin-top: rem(12);
      line-height: math.div(22, 16);
      @include adaptiveValue("font-size", 21, 14);
      @media (max-width: rem(768)) {
        text-align: center;
      }
    }
    &__contacts {
      margin-top: rem(24);
    }
    &__social {
      margin-top: rem(24);
      display: flex;
      align-items: center;
      column-gap: rem(16);
      img {
        cursor: pointer;
        @include adaptiveValue("width", 45, 34, 1920, 1300, 1);
        @include adaptiveValue("height", 45, 34, 1920, 1300, 1);
      }
      @media (max-width: rem(768)) {
        justify-content: center;
      }
    }
    &__btn {
      margin-top: rem(40);
      @media (max-width: rem(768)) {
        display: flex;
        margin: rem(24) auto 0px auto;
      }
    }
  }
  .contacts-footer {
    &__title {
      font-weight: 600;
      @include adaptiveValue("font-size", 24, 16);
      line-height: math.div(24, 18);
      @media (max-width: rem(768)) {
        text-align: center;
      }
    }
    &__phone {
      display: block;
      margin-top: rem(12);
      line-height: math.div(22, 16);
      @include adaptiveValue("font-size", 21, 14);
      @media (max-width: rem(768)) {
        text-align: center;
      }
    }
    &__email {
      display: block;
      margin-top: rem(12);
      line-height: math.div(22, 16);
      @include adaptiveValue("font-size", 21, 14);
      @media (max-width: rem(768)) {
        text-align: center;
      }
    }
  }
}
.policy__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: rem(10);
  line-height: math.div(22, 16);
  @media (max-width: rem(600)){
    justify-content: center;
  }
}
